html,
body {                      /* styling of the body */
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 18px;
    background: rgb(93,113,147);
    background: linear-gradient(90deg, rgba(93,113,147,1) 0%, rgba(79,90,107,1) 33%, rgba(79,90,107,1) 68%, rgba(93,113,147,1) 100%); 
}

.checked {                              /* style for the rating */
    color: orange;
  }

a {                                 /* styling of the body */
    color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {                               /* color scheme */     
    color: forestgreen;
}

p {                                      /* Paragraph styling */
    font-size: 16px;
    line-height: 1.5;
}

header {                                        /* Header styling */
    position: relative;
    width: 100%; 
    min-height: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url('../images/header2.png');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: 100%;
    background-size: 100%;
    background-repeat:no-repeat;
    -o-background-size: cover;
}

header .header-content {            /* header position and size */
    position: center;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {       /* Header H1 content styling */
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 300;
    color: whitesmoke;
}

header .header-content .header-content-inner p {    /* Header P content styling */
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: whitesmoke;
}




section {                               /* the styling of the sections which contain text, videos and images */
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    background: url (2.png);
    background-attachment: fixed;
    height: 100vh;
}

section .box {                  /* the styling of the sections which contain text, videos and images */
    position: relative;
    max-width: 600px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    color: #000;
    background: rgb(93,113,147);
    background: linear-gradient(90deg, rgba(93,113,147,1) 0%, rgba(79,90,107,1) 33%, rgba(79,90,107,1) 68%, rgba(93,113,147,1) 100%); 
    opacity: .8;
}






@media(min-width:768px) {               /* Styling header */
    header {
        min-height: 100%;
    }

    header .header-content {         /* styling content */
        position: absolute;
        top: 25%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {      /* styling header like margin and width */
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

	header .header-content .header-content-inner h1 {       /* font-size H1 content */
    	font-size: 75px;
		}

    header .header-content .header-content-inner p {        /* styling header P content */
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {           /* styling section heading */
    margin-top: 0;
    margin-bottom: 20px;
}


.intro {            /* styling intro content and background of intro */
	color: #fff;
    background: rgb(93,113,147);
    background: linear-gradient(90deg, rgba(93,113,147,1) 0%, rgba(79,90,107,1) 33%, rgba(79,90,107,1) 68%, rgba(93,113,147,1) 100%); 
    padding: 70px 0;
    text-align: center;
}


.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {       /* navbar styling */
    color: white;
	text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {       /* navbar styling */
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {     /* navbar styling */
    background-size: 110%; 
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}

.promo-item h3 {        /* navbar styling */
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.text-light {       /* navbar styling */
    color: rgba(255,255,255,.7);
    text-align: justify;
    max-width: 1000px;
}


.navbar-default {           /* navbar styling */
    border-color: rgba(34,34,34,.05);
    background-color: rgb(70, 75, 83);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {          /* navbar color styling */
    color: #89a6d2;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {        /* navbar color styling */
    color: #89a6d2;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {       /* navbar color styling */
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {     /* navbar color styling */
    color: #687ea1;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {        /* navbar color styling */
    color: #89a6d2 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {      /* navbar color styling */
    background-color: transparent;
}

@media(min-width:768px) {               /* Navbar */
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        
    }

    .navbar-default .navbar-header .navbar-brand {      /* navbar styling */
        color: rgba(214, 214, 214, 0.7);
        letter-spacing: 0.5em;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {        /* navbar color styling */
        color: #89a6d2;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {       /* navbar color styling */
        color: rgba(214, 214, 214, 0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {     /* navbar color styling */
        color: #687ea1;
    }

    .navbar-default.affix {             /* navbar color styling */
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {            /* navbar color styling */
        letter-spacing: 0;
        color: rgb(63, 63, 63);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {      /* navbar color styling */
        color: #89a6d2;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {     /* navbar color styling */
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {       /* navbar color styling */
        color: #687ea1;
    }
}

.btn-default {              /* color codes of the website */
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {  	    /* color codes of the website */
    border-color: #eee;
    color: #222;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {          /* background of the website */
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {        /* color codes of the website */
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {                /* color codes of the website */
    color: #fff;
    background-color: #222;
}

.btn-primary {                      /* color codes of the website */
    border-color: yellowgreen;
    color: #fff;
    background-color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {              /* color codes of the website */
    border-color: limegreen;
    color: #fff;
    background-color: limegreen;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {       /* background of the website */
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {        /* color codes of the website */
    border-color: yellowgreen;
    background-color: yellowgreen;
}

.btn-primary .badge {       /* color codes of the website */
    color: yellowgreen;
    background-color: #fff;
}


.btn {                      /* styling of the website */
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {                        /* styling of the website */
    padding: 15px 30px;
}

::-moz-selection {                /* styling and color of the website */
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {                     /* styling and color of the website */
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {              /* styling and color of the website */
    color: #fff;
    background: 0 0;
}

img::-moz-selection {           /* styling and color of the website */
    color: #fff;
    background: 0 0;
}

.text-primary {              /* color of the website */
    color: black;
}

.bg-primary {                /* color of the website */
    background-color: yellowgreen;  
}
